<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="ellipse-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="medical-appointment">
      <ion-icon name="calendar-number-outline"></ion-icon>
      Citas Medicas
    </ion-tab-button>
    <ion-tab-button tab="history">
      <ion-icon name="reader-outline"></ion-icon>
      Historial
    </ion-tab-button>
    <ion-tab-button tab="my-health">
      <ion-icon name="body-outline"></ion-icon>
      Mi Salud
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>